<div class="footer">
  <div>
    <ul class="no-bullets contact-details">
      <li><p class="footer-text">T: +44 (0)141 204 4041</p></li>
      <li>E:&nbsp&nbsp<a href="mailto:consul@swedenglasgow.com" id="footer-email">consul@swedenglasgow.com</a></li>
    </ul>
  </div>
  <div>
    <ul class="no-bullets contact-details">
      <li><p class="footer-text">Sveriges Konsulat</p></li>
      <li><p class="footer-text">185 St Vincent Street</p></li>
      <li><p class="footer-text">Glasgow, G2 5QD</p></li>
    </ul>
  </div>
</div>
