// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

@font-face {
    font-family: 'sweden_sansregular';
    src: url('config/swedensans-webfont.eot');
    src: url('config/swedensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('config/swedensans-webfont.woff2') format('woff2'),
         url('config/swedensans-webfont.woff') format('woff'),
         url('config/swedensans-webfont.ttf') format('truetype'),
         url('config/swedensans-webfont.svg#sweden_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sweden_sansbold';
    src: url('config/swedensansbold-webfont.eot');
    src: url('config/swedensansbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('config/swedensansbold-webfont.woff2') format('woff2'),
         url('config/swedensansbold-webfont.woff') format('woff'),
         url('config/swedensansbold-webfont.ttf') format('truetype'),
         url('config/swedensansbold-webfont.svg#sweden_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
