.contact-margin {
  margin-top: 32px !important;
}
.address {
  text-align: center;
  padding-top: 40px;
}
.address-sm {
  text-align: center;
  padding: 16px;
}
// #map {
//   height: 550px;
//   width: 80%;
//   margin: 160px 0px 40px 48px;
// }
.address-margin-top {
  margin-top: 40px
}
.contact-flex {
  display: flex;
}
.address-margin-bottom {
  margin-bottom: 48px;
}
.color-email {
  color: #333333;
}
