.strong-text {
  text-decoration: underline;
  font-weight: 700;
}
.short-line {
  margin: 8px 0px !important;
}
.passports-link {
  color: black;
  font-weight: 700;
  font-size: 15px;
  font-family: 'sweden_sansbold';
}
.passports-link-sm {
  color: black;
  font-weight: 700;
  font-size: 14px;
  font-family: 'sweden_sansbold';
}
.passports-link:hover {
  color: #095381;
  font-weight: 700;
}
.emergencies-padding-top {
  padding-top: 32px;
}
