.strong-text {
  text-decoration: underline;
  font-weight: 700;
}
.short-line {
  margin: 8px 0px !important;
}
.passports-link {
  color: black;
  text-decoration: underline;
  font-weight: 700;
}
.passports-link:hover {
  color: #095381;
  text-decoration: underline;
  font-weight: 700;
}
