.wrapper {
  display: flex;
}
.container {
  flex-grow: 1;
}
.language {
  display: flex;
  justify-content: right;
}
.container {
  background-color: #E6E6E6;
}
.container-yellow {
  background-color: #FECC00;
}
