.wrapper {
  display: flex;
}
.container {
  flex-grow: 1;
}
.container-xs {
  padding: 20px;
}
.language {
  display: flex;
  justify-content: flex-end;
}
.container {
  background-color: #E6E6E6;
  padding: 48px;
}
.container-yellow {
  background-color: #FECC00;
  @media (min-width: 500px) {
    padding: 40px;
  }
  @media (max-width: 500px) {
    padding: 8px 20px;
  }
  margin-top: 20px;
  h1 {
    @media (min-width: 500px) {
      margin: 0px 0px 20px 0px;
    }
    @media (max-width: 500px) {
      margin: 0px 0px 32px 0px;
    }
    position: relative;
  }
  h1::after {
    content: "";
    position: absolute;
    width: 40px;
    bottom: 0;
    left: 0%;
    border-bottom: 3px solid black;
  }
  p {
    @media (min-width: 500px) {
      letter-spacing: 1.1px;
    }
    @media (max-width: 500px) {
      letter-spacing: 1px;
      font-size: 11px;
    }
    margin: 30px 0px;
    // line-height: 25px;
    font-family: 'Roboto', sans-serif;
  }
}
.flag {
  @media (min-width: 500px) {
    height: 56px;
  }
  @media (max-width: 500px) {
    height: 40px;
  }
  padding-bottom: 8px;
}
.flag-padding {
  padding: 20px 10px;
  text-align: center;
  font-family: sweden_sansregular;
  letter-spacing: 1.5px;
  p {
    cursor: pointer;
  }
}
.flag-padding-xs {
  padding: 20px 0px 20px 10px;
  letter-spacing: 1.5px;
  text-align: center;
  font-family: sweden_sansregular;
  p {
    margin: 0px !important;
    cursor: pointer;
  }
}
.flag-active {
  text-decoration: underline;
}
