.wrapper {
  display: flex;
  position: relative;
}
.credit {
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: white;
  font-size: 10px;
  letter-spacing: 1px;
  font-family: 'sweden_sansregular';
  line-height: 5px;
  font-weight: 100;
}
.container-xs {
  padding: 20px 20px 56px 20px;
  background-image: url("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1554200953/alexander_hall-rural_home-6992.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
}
.language {
  display: flex;
  justify-content: flex-end;
}
.container {
  background-image: url("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1554200953/alexander_hall-rural_home-6992.jpg");
  background-size: cover;
  // remove or add the below, changes where image sits
  background-attachment: fixed;
  // padding: 48px;
  padding: 60px 80px 120px 80px;
  flex-grow: 1;
  height: 100vh;
}
.container-yellow {
  background-color: #FECC00;
  @media (min-width: 500px) {
    padding: 48px;
  }
  @media (max-width: 500px) {
    padding: 24px;
  }
  margin-top: 20px;
  h1 {
    @media (min-width: 500px) {
      margin: 0px 0px 20px 0px;
    }
    @media (max-width: 500px) {
      margin: 0px 0px 32px 0px;
      padding-bottom: 16px;
    }
    position: relative;
  }
  h1::after {
    content: "";
    position: absolute;
    width: 40px;
    bottom: 0;
    left: 0%;
    border-bottom: 3px solid black;
  }
  p {
    @media (min-width: 500px) {
      letter-spacing: 1.1px;
    }
    @media (max-width: 500px) {
      letter-spacing: 1px;
      font-size: 13px;
    }
    margin: 30px 0px;
    // line-height: 25px;
    font-family: 'Roboto', sans-serif;
  }
}
.flag {
  @media (min-width: 500px) {
    height: 56px;
  }
  @media (max-width: 500px) {
    height: 40px;
  }
  padding-bottom: 8px;
}
.flag-padding {
  padding: 20px 10px;
  text-align: center;
  font-family: sweden_sansregular;
  letter-spacing: 1.5px;
  p {
    cursor: pointer;
  }
}
.flag-padding-xs {
  padding: 20px 0px 20px 10px;
  letter-spacing: 1.5px;
  text-align: center;
  font-family: sweden_sansregular;
  p {
    margin: 0px !important;
    cursor: pointer;
  }
}
.flag-text {
  color: #333333;
}
.flag-text-white {
  color: white;
}
.flag-active {
  text-decoration: underline;
}
.flag-padding:hover .flag-text {
  color: #095381;
}
.flag-padding:hover .flag-text-white {
  color: #095381;
  text-decoration: underline;
}

.flag-padding-xs:hover .flag-text {
  color: #095381;
}
