.staff-member {
  display: flex;
  margin-top: 64px;
}
.staff-photo {
  width: 200px;
  margin-left: 32px;
}
.staff-photo-sm {
  width: 175px;
  margin-top: 16px;
}
.staff-text {
  margin: 0 48px 0 64px;
}
.staff-member2 {
  margin-bottom: 40px;
}
.staff-member2-sm {
  text-align: center;
  padding-top: 32px;
}
.consular-title-sm {
  padding-bottom: 24px;
  margin-botton: 32px;
}
.staff-member1-sm {
  text-align: center;
  padding-top: 32px;
}
