<div class="wrapper hidden-xs">
  <p class="credit">Photo credit: Alexander Hall/imagebank.sweden.se</p>
  <div class="container">
    <div class="container-yellow">
      <div style="border: black 3px solid; padding: 0 20px;">
        <p style="margin: 16px 0">The Glasgow Swedish Consulate has now closed. All business has transferred to the <a href="https://swedishconsulate.eu/" target="_blank" class="external-link external-link-size">Swedish Consulate in Edinburgh</a>. Please see the <a href="https://www.swedenabroad.se/en/embassies/united-kingdom-london/" target="_blank" class="external-link external-link-size">website of the Swedish Embassy in London</a> for further information and any updates.</p>
      </div>
    </div>
  </div>
</div>

<div class="visible-xs">
  <div class="container-xs">
    <p class="credit">Photo credit: Alexander Hall/imagebank.sweden.se</p>
    <div class="container-yellow">
      <div style="border: black 3px solid; padding: 0 20px">
        <p style="margin: 16px 0">The Glasgow Swedish Consulate has now closed. All business has transferred to the <a href="https://swedishconsulate.eu/" target="_blank" class="external-link external-link-size">Swedish Consulate in Edinburgh</a>. Please see the <a href="https://www.swedenabroad.se/en/embassies/united-kingdom-london/" target="_blank" class="external-link external-link-size">website of the Swedish Embassy in London</a> for further information and any updates.</p>
      </div>

    </div>
  </div>
</div>
