.footer {
  background-color: #2A353E;
  margin: 0;
  width: 100vw;
  padding: 16px 0px 16px 30px;
  color: white;
  font-family: sweden_sansregular;
}
.footer p {
  font-size: 12px;
  line-height: 26px;
}
#footer-email {
  line-height: 12px;
  font-size: 12px;
  margin-top: -5px;
}
