// Import your components CSS files here.
@import "alert";
@import "navbar";

p {
  font-size: 12px;
}

h1 {
  font-weight: bold;
  font-family: 'sweden_sansbold';
  @media (min-width: 400px) {
    font-size: 48px;
}
  @media (max-width: 400px) {
    font-size: 40px;
  }
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
