@media (min-width: 500px) {
  .side-navbar {
    display: block;
    flex: 0 0 300px;
    height: 100vh;
    position: sticky !important;
    top: 0;
    background-color: #2A353E;
    color: white;
    padding: 30px 50px;
    line-height: 20px;
    font-family: 'sweden_sansregular';
  }
}
@media (max-width: 500px) {
  .side-navbar {
    display: none;
  }
}
@media (min-width: 500px) {
  .navbar {
    display: none;
  }
}
@media (max-width: 500px) {
  .navbar {
    display: block;
  }
}
.consulate-logo {
  width: 200px;
}
.no-bullets {
  list-style:none;
  padding: 0px;
}
.links {
  margin: 50px 0px;
}
.link {
  line-height: 30px;
  margin-bottom: 6px;
  letter-spacing: 1.75px;
}
.active {
  position:relative;
}
.link:hover {
  color: #FECC00;
}
.active::after {
  content: "";
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0%;
  border-bottom: 1.5px solid white;
}
.contact-details {
  margin-top: 20px;
}
.contact-details p {
  font-size: 10px;
  margin: 0px;
  letter-spacing: 1px;
}
